//
// Global variables
// --------------------------------------------------

// Typography
$theme-font-family: 'OpenSans-Regular' !default;
$theme-font-open-sans: 'OpenSans-Regular' !default;
$theme-font-open-sans-light: 'OpenSans-Light' !default;

// Grid
$xlg-container: 1215px;



// Colors
// Global

// Section Colors
$color-dodger-blue: #188ef3;

// Other Colors
$color-dusty-gray: #949494;